[Unit]
Description=github stats scraper

[Service]
WorkingDirectory=/opt/gh_stats
EnvironmentFile=/opt/gh_stats/.env
ExecStart=bash /opt/gh_stats/repo/followers.sh

[Install]
WantedBy=multi-user.target
