[Unit]
Description=github stats scraper

[Service]
WorkingDirectory=/opt/gh_stats
ExecStart=bash /opt/gh_stats/repo/followers.sh
#Environment vars come from /etc/systemd/system/gh_stats.service.d/*.conf

[Install]
WantedBy=multi-user.target
